body {
  background-image: url("/img/background.png");  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

@font-face {
  font-family: Adobe-Garamond-Regular;
  src: url("../fonts/Adobe-Garamond-Regular.otf") format("opentype");
  src: url('../fonts/Adobe-Garamond-Regular.eot');
  src: url('../fonts/Adobe-Garamond-Regular.woff') format('woff'),
       url('../fonts/Adobe-Garamond-Regular.ttf') format('truetype');
       /*src: url('../fonts/Montserrat-Light.eot?iefix') format('eot'),
       url('../fonts/Montserrat-Light.svg#webfontpQgNQDw9') format('svg');*/
}


@font-face {
  font-family: Adobe-Garamond-Semibold-Italic;
  src: url("../fonts/Adobe-Garamond-Semibold-Italic.otf") format("opentype");
  src: url('../fonts/Adobe-Garamond-Semibold-Italic.eot');
  src: url('../fonts/Adobe-Garamond-Semibold-Italic.woff') format('woff'),
       url('../fonts/Adobe-Garamond-Semibold-Italic.ttf') format('truetype');
       /*src: url('../fonts/Montserrat-Light.eot?iefix') format('eot'),
       url('../fonts/Montserrat-Light.svg#webfontpQgNQDw9') format('svg');*/
}

@font-face {
  font-family: CFJackStory-Regular;
  src: url("../fonts/CFJackStory-Regular.otf") format("opentype");
  src: url('../fonts/CFJackStory-Regular.eot');
  src: url('../fonts/CFJackStory-Regular.woff') format('woff'),
       url('../fonts/CFJackStory-Regular.ttf') format('truetype');
       /*src: url('../fonts/Montserrat-Light.eot?iefix') format('eot'),
       url('../fonts/Montserrat-Light.svg#webfontpQgNQDw9') format('svg');*/
}