<div class="menu-offset"></div>
<div class="menu-container">
	<div class="dropdown">
		<div class="menu-item writing-samples-menu" data-toggle="dropdown">
            <div class="menu-text">Writing Samples</div>
        </div>
		<ul class="dropdown-menu writing-samples-dropdown-menu">
        	<li><a class="writing-samples-link" href="/pdf/April13 CTCN.pdf" target="_blank">April 2013 CubNews</a></li>
        	<li><a class="writing-samples-link" href="/pdf/February11 CN.pdf" target="_blank">February 2011 CubNews</a></li>
        	<li><a class="writing-samples-link" href="./pdf/December10 CN.pdf" target="_blank">December 2010 CubNews</a></li>
        </ul>
    </div>
	<div class="dropdown">
		<div class="menu-item awards-menu" data-toggle="dropdown" data-toggle="dropdown">
            <div class="menu-text">Awards</div>
        </div>
		<ul class="dropdown-menu awards-dropdown-menu">
        	<li>
        		<div class="awards-header">Outstanding Elementary Principal</div>
        		<div class="awards-text">Ohio Association for the Education of Young Children<br>2011</div>
        	</li>
        	<li>
        		<div class="awards-header">Distinguished Administrator for Art Education</div>
        		<div class="awards-text">Northwest Ohio Art Education Association<br>2009</div>
        	</li>
        	<li>
        		<div class="awards-header">Outstanding Administrator Award of the Year</div>
        		<div class="awards-text">Ohio School Counselor Association<br>2004</div>
        	</li>        	
        	<li>
        		<div class="awards-header">Administrator Educator of the Year</div>
        		<div class="awards-text">Sylvania Schools<br>1993</div>
        	</li> 
        </ul>
    </div>
	<div class="dropdown">
		<div class="menu-item certifications-menu" data-toggle="dropdown">Certifications</div>
		<ul class="dropdown-menu certifications-dropdown-menu">
        	<li>National Association of Elementary School Principals (NAESP) National Mentoring Certification</li>
        	<li>Training and certification in Ohio Teacher Evaluation System (OTES)</li>
        	<li>Certification in Universal Design for Learning (UDL)</li>
        </ul>
    </div>
	<div class="dropdown">
		<div class="menu-item publications-menu" data-toggle="dropdown">Publications</div>
		<ul class="dropdown-menu publications-dropdown-menu">
        	<li>
        		<div class="publications-header"><a class="writing-samples-link" href="http://www.toledoblade.com/Op-Ed-Columns/2005/07/02/the-right-leadership-will-help-children-cope-with-burdens" target="_blank">“The Right Leadership Will Help Children Cope With Burdens”</a></div>
        		<div class="publications-text">Toledo Blade Newspaper Editorial Article, July 2005</div>
        	</li> 
			<li>
        		<div class="publications-header"><a class="writing-samples-link" href="/pdf/It's Elementary by Toni Gerber Vol. 3 No. 1.pdf" target="_blank">“It's Elementary...” describes the complexities of a being a principal and the need for positive and strong leadership</a></div>
        		<div class="publications-text">OAESA Principal Navigator, Volume 3, No. 1, September 2007</div>
        	</li> 
			<li>
        		<div class="publications-header"><a class="writing-samples-link" href="/pdf/Keeping Our Students Safe and Healthy by Toni Gerber Vol. 4 No. 3.pdf" target="_blank">“Keeping Our Students Safe and Healthy: Priority #1”</a></div>
        		<div class="publications-text">OAESA Principal Navigator, Volume 4, No. 3, Summer 2009</div>
        	</li> 
			<li>
        		<div class="publications-header"><a class="writing-samples-link" href="/pdf/Smart Strategies for Success by Toni Gerber Vol. 10 No. 2.pdf" target="_blank">“Smart Strategies for Your School and You”</a></div>
        		<div class="publications-text">OAESA Principal Navigator, Winter 2015</div>
        	</li>         	
        </ul>
    </div>
</div>
